body {
  margin-bottom: 200px;
  overflow-x: hidden !important;
  width: 100vw !important;
}

.gameImg {
  width: 114px;
  height: 114px;

}

.customGameTab {
  margin-bottom: 15px;
  width: 100vw !important;
  /* border: 1px solid #171e23; */
  background: #005A8D;

  border-radius: 30px !important;
  /* background: #28323B !important; */
  color: #fff !important;
  padding: 10px;
  overflow-x: scroll;
  /* scrollbar-width: thin; */
}

.customGameTab::-webkit-scrollbar {

  display: none;

}

.fa-solid {
  font-size: 24px !important;
}

.bannerImg {
  width: 100%;
  height: 350px;
  object-fit: cover;
}



footer {
  background: linear-gradient(0deg, #02293a, #00354d);
  box-shadow: 0 -5px 10px #0000004d;
}

.footerImg {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: #024e71 !important;
  /* background: rgb(249, 187, 31); */
  border: 1px solid #00354D !important;
  /* border: 2px solid goldenrod !important;
  box-shadow: 0px 3px 14px -5px #ffc107; */
}

.fade:not(.show) {
  display: none !important;
  visibility: hidden !important;
}

.tabTitle {
  font-size: 16px;
  text-wrap: nowrap !important;
}

.tabImg {
  height: 35px;
}

@media screen and (min-width: 980px) and (max-width: 1030px) {
  .hotGameImg {
    height: 200px;
  }
}

@media screen and (min-width: 570px) and (max-width: 979px) {
  .hotGameImg {
    height: 230px;
  }
}



@media screen and (max-width: 800px) {
  .bannerImg {
    height: 250px;
  }
}



@media screen and (max-width: 580px) {
  .bannerImg {
    height: 200px;
  }


}

@media screen and (max-width:540px) {
  .customGameTab {
    padding: 5px;
  }

  .tabImg {
    height: 28px;
  }

  .tabTitle {
    font-size: 13px;
  }

  .nav-pills .nav-link {
    padding: 5px !important;
  }
}

@media screen and (max-width:460px) {
  .tabImg {
    height: 23px;
  }

  .tabTitle {
    font-size: 12px;
  }
}

@media screen and (max-width:455px) {
  .gameImg {
    width: 94px;
    height: 94px;
  }
}

@media screen and (max-width: 400px) {
  .hotImg {
    height: 120px;
  }
}



@media screen and (max-width: 380px) {

  .footerTitle {
    font-size: 13px;
  }

  .bannerImg {
    height: 150px;
  }

  .playerInfoImg {
    height: 40px;
  }

  .playerInfoTitle {
    font-size: 13px;
  }
}


@media screen and (max-width:350px) {
  .gameImg {
    width: 84px;
    height: 84px;
  }
}

@media screen and (max-width: 340px) {
  .logo {
    font-size: 20px;
  }


}

@media screen and (max-width: 320px) {


  .fa-solid {
    font-size: 18px !important;
  }

  .logo {
    font-size: 18px;
  }

  .customContainer {
    margin: 0 !important;
    padding: 0 1px !important;
  }


}

@media screen and (max-width:310px) {
  .gameImg {
    width: 74px;
    height: 74px;
  }
}


@media screen and (max-width: 300px) {
  .footerImg {
    height: 20px;
    width: 20px;
  }

  .tabTitle {
    font-size: 11px;
  }
}